body {
    background-color: #FFD700;
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 50px;
    flex: 1;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: white;
}

.clicker-image {
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-bottom: 20px;
}

.stats {
    margin: 20px 0;
}

.stats p {
    font-size: 18px;
    color: white;
}

.tabs {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #FF8C00;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.tab-button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    flex: 1;
    margin: 5px;
}

.tab-button.active {
    background-color: #FF4500;
    color: white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* Стили для блока улучшений */
.boost-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.boost-item {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.boost-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.boost-item p {
    margin: 5px 0;
}

.boost-item button {
    background-color: #FF8C00;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.boost-item button:hover {
    background-color: #FF4500;
}
